{{!-- formulario post --}}
{{!-- signup y login --}}
<section class='p-4 bg-secondary'>
  <h2>Signup</h2>
  <form action="/signup" method="post">
    <div >  
      <span>username</span>
      <input class="form-control" type="text" name="username">
    </div>
    <div >
      <span>password</span>
      <input class="form-control" type="text" name="password">
    </div>
    <div>  
      <span>email</span>
      <input class="form-control" type="email" name="email">
    </div>
    <div>  
      <span>address</span>
      <input class="form-control" type="text" name="address">
    </div>
    <div>  
      <span>age</span>
      <input class="form-control" type="number" name="age">
    </div>
    <div>  
      <span>phone number</span>
      <input class="form-control" type="text" name="phoneNumber">
    </div>
    <label for="avatar">Avatar</label>
  <input class="form-control" type="file" id="avatar" name="avatar" accept="image/*">
    <button type="submit">Submit</button>
  </form>
  <h2>login</h2>
  <form action="/session/login" method="post">
    <div >
      <span>name</span>
      <input class="form-control" type="text" name="username">
    </div>
    <div>
      <span>password</span>
      <input class="form-control" type="text" name="password">
    </div>
    <button id="submit" type="submit">Submit</button>
  </form>
    <button id="logout">Logout</button>
</section>


{{!-- chat --}}
{{!-- <table id="message"></table>
<form id="messageForm">
	<div id= "" class="row">
      <label for="userEmail" class="form-label">Usuario</label>
      <div class="col-6 mb-3">      
        <input type="email" class="form-control" id="userEmail" aria-describedby="pictureHelp">
        <div id="pictureHelp" class="form-text">Ingrese su email</div>
      </div>
      <div class="col-6 mb-3">      
        <input type="text" class="form-control" id="userName" aria-describedby="pictureHelp1">
        <div id="pictureHelp1" class="form-text">Ingrese su nombre</div>
      </div>
      <div class="col-6 mb-3">      
        <input type="text" class="form-control" id="userSurname" aria-describedby="pictureHelp2">
        <div id="pictureHelp2" class="form-text">Ingrese su apellido</div>
      </div>
      <div class="col-6 mb-3">      
        <input type="number" class="form-control" id="userAge" aria-describedby="pictureHelp3">
        <div id="pictureHelp3" class="form-text">Ingrese su edad</div>
      </div>
      <div class="col-6 mb-3">      
        <input type="text" class="form-control" id="userNickname" aria-describedby="pictureHelp4">
        <div id="pictureHelp4" class="form-text">Ingrese su apodo</div>
      </div>
      <div class="col-6 mb-3">      
        <input type="text" class="form-control" id="userAvatar" aria-describedby="pictureHelp5">
        <div id="pictureHelp5" class="form-text">Ingrese url de su avatar (foto, logo)</div>
      </div>

    <input type="text" name="mensaje" id="userMensaje" placeholder="Ingrese su mensaje">
    <button type="button" onclick="addMessage(document.getElementById('messageForm'))" id="button">Add</button>
</form> --}}
